<!Doctype html>
<html>
<head> 
  <title>Turnos</title>
  <#include "/html/common/head.html">

</head>
<body ng-app=figaro ng-controller=turnosBusquedaController  data-ng-init="init()" >
  <#include "/html/common/menu.html">
  <div id=content class="content fade-in">
    <div class=banner>

        <label>Cliente: </label><select name=cliente ng-change="search()" ng-model="cliente" ng-options="cliente as cliente.nombre + ' ' + cliente.apellido   for cliente in clientes">
          <option></option>
        </select>

        <div class="separator"></div>
        <label >Empleado: </label><select name=empleado ng-change="search()" ng-model="empleado" ng-options="empleado as empleado.nombre + ' ' + empleado.apellido   for empleado in empleados">
          <option></option>
        </select>
        
        <div class="separator"></div>
        <label >Servicio: </label><select name=servicio ng-change="search()" ng-model="servicio" ng-options="servicio as servicio.descripcion for servicio in servicios">
          <option></option>
        </select>
        
        <div class="separator"></div>
        <label >Cobrado: </label><select name=cobrado ng-change="search()" ng-model="cobrado">
          <option></option>
          <option value=true >Sí</option>
          <option value=false>No</option>
        </select>
        
        <div class="separator"></div>
        <label >Pagado: </label><select name=pagado ng-change="search()" ng-model="pagado">
          <option></option>
          <option value=true >Sí</option>
          <option value=false>No</option>
        </select>
      
        <div class="separator"></div>
        <label >Desde: </label><input ng-change="search()" ng-model=desde type=date>
      
        <div class="separator"></div>
        <label >Hasta: </label><input ng-change="search()" ng-model=hasta type=date>
        
        <div class=export>
          <label title="Imprimir" class="banner-button" onclick="imprimir()"><i class="material-icons">print</i></label>
          <div class="separator"></div>
          <label title="Exportar a PDF" class="banner-button" id=export ng-click=exportPDF()><i class="far fa-file-pdf file-type-icon"></i></label>   
          <div class="separator"></div>
          <label title="Exportar a Excel" class="banner-button" id=export ng-click=exportExcel()><i class="far fa-file-excel file-type-icon"></i></label>
        </div>

    </div>
 
    <div class="loading-wrapper">
      <div class=loading-turnos><img widh=25 height=25 src="/imgs/loading.gif"></div>
    </div>

    <table  ng-cloak ng-if="turnos.length > 0" id=table class=main-table>
      <thead>
      <tr>
          <th>FECHA</th>
          <th>CLIENTE</th>
          <th>TRABAJOS</th>
          <th>PRECIO</th>
          <th>PAGO</th>
          <th>EMPLEADO</th>
          <th>COBRADO</th>
          <th>PAGADO</th>
      </tr>
      </thead>
      <tbody>
      <tr  ng-cloak class="data-row fade-in" ng-repeat="turno in turnos  track by turno.id"  >
      <td data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.desde.split(' ')[0]  | date}}</td>
      <td data-id={{turno.id}} ><a class=link ng-href="/turnos/cliente/{{turno.cliente.id}}">{{turno.cliente.nombre}} {{turno.cliente.apellido}} </a></td>
      <td data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.descripcionTrabajos}}</td>
      <td data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.montoCobro | currency}}</td>
      <td data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.montoPago | currency}}</td>
      <td data-id={{turno.id}} ><a class=link ng-href="/turnos/empleados/{{turno.empleado.id}}">{{turno.empleado.nombre}} {{turno.empleado.apellido}}</a></td>
      <td><input ng-model="turno.cobrado" ng-click="setCobrado(turno)" type="checkbox" ></td>
      <td><input ng-model="turno.pagado"  ng-click="setPagado(turno)"  type="checkbox" ></td>
     
      </tbody>
    </table>
    <div ng-cloak ng-if="turnos.length > 0" class=banner>
        <label ><i class=material-icons >account_balance_wallet</i> Total Cobros: {{getTotal(turnos) | currency}}</label>
        <div class="separator"></div>
        <label ><i class=material-icons >payment</i> Total Pagos: {{getTotalPago(turnos) | currency}}</label>
        <div class="separator"></div>
        <label  ><i class=material-icons >date_range</i>Turnos: {{turnos.length}}</label>
    </div>
    
        

  </div>

  <div ng-cloak ng-if="!turnos" class="message fade-in">
    <div class="message-content">Seleccione un criterio de b&uacute;squeda.</div>
  </div>

  <div ng-cloak ng-if="turnos.length < 1" class="message fade-in">
    <div class="message-content">No se encontraron turnos.</div>
  </div>
  
  </div>

  <#include "/html/turnos/cobrar.html">
  <#include "/html/turnos/deshacer-cobrado-pagado.html">
  <#include "/html/common/javascript.html">
  <script src="/js/turnosBusquedaController.js" ></script>
</body>
</html>