<div id=modal-turnos class="fade-in modal">
    <div class=modal-content>
      <form ng-submit="sendTurno()">      
        
        <div class=form-field ng-hide=desconocido>
          <label>CLIENTE:</label>
          <input id=modal-turnos-focus tipe="text" placeholder="Buscar cliente" ng-model="queryCliente" ng-model-options="{debounce:300}" ng-change="searchCliente()">
          <i class="material-icons add" ng-controller=clientesController ng-init="isModalOpen=true" ng-click="newClient()" >person_add</i>
        </div>
        
        <div class="form-field" ng-hide=desconocido ng-click="setCliente(cliente)" ng-repeat="cliente in clientes" >
          <input id={{trabajo.id}} type="checkbox"  ng-click="setCliente(cliente)" ng-model=cliente.selected> {{cliente.nombre}} {{cliente.apellido}}
        </div>

        <input  type="checkbox" class="form-field" ng-click="setClienteDesconocido()"  ng-model=desconocido> Cliente Desconocido

        <div class=form-field><label>FECHA: </label><input type="date" ng-model="ngDateTurno" required></input></div>
        <div class=form-field>
        <label>DESDE:</label>
          <select  class=time-input ng-model="startHour" ng-options="item for item in horario.rangoUsuario" required>
            <option value=""></option>
          </select>
      
        <label>HASTA:</label>
          <select class=time-input ng-model="endHour" ng-options="item for item in horario.rangoUsuario" required>
            <option value=""></option>
          </select>
        </div> 
              
        <div class=form-field><label>EMPLEADO:</label>
          <select name=empleado  ng-model="empleado" ng-change="bindTrabajos()" ng-options="empleado as empleado.nombre + ' ' + empleado.apellido   for empleado in empleados" required>
            <option value=""></option>
          </select>
        </div>

        <div class=trabajos-list>  
          <div class=form-field><label>TRABAJOS:</label></div>
          <table id=table>
            <tbody>
            <tr ng-cloak   class=data-row  ng-repeat="trabajo in trabajosEmpleado" >
            <td ><input id={{trabajo.id}} type="checkbox"  value="trabajo"  ng-click="toggleTrabajo(trabajo)" ng-model=trabajo.selected> </td>
            <td >{{trabajo.servicio.descripcion}} </td>
            <td >{{trabajo.servicio.precio | currency}}</td>
            </tr>
          </tbody>
          </table>
        </div>

        <hr class=resume noshade>
        <div class="form-field"  ng-repeat="trabajo in trabajosSeleccionados" >
          {{trabajo.descripcion}} {{trabajo.precio | currency}}
        </div>

        <div class="form-field" ng-if="ngTurno.cobro.descuento>0">DESCUENTO: <span >{{ngTurno.cobro.descuento | currency}}</span></div>

        <div class="form-field">PRECIO: <span >{{totalTrabajosSeleccionados + ngTurno.cobro.descuento | currency}}</span></div>
        
        <label>{{ngTurno.cliente.notas}}</label>
        
        <div class=buttons>
          <button class="button cancel" type="button" ng-click="discardTurno()">CANCELAR</button>
          <button class="button accept" type="submit">ACEPTAR</button>
        </div>
        
        <label class=form-message>{{message}}</label>
      </form>
    </div>
</div>