<!Doctype html>
<html>
<head> 
  <title>Turnos</title>
  <#include "/html/common/head.html">
</head>
<body ng-app=figaro ng-controller=empleadosController  data-ng-init="initTurnosEmpleado()" >
  <#include "/html/common/menu.html">
  <div ng-controller=turnosController> 
  <div ng-cloak ng-if="turnos.length > 0" id=content class="content fade-in">
    <div ng-cloak class=banner>
        <label class="banner-title"><i class="material-icons">person</i>Empleado: {{empleado.nombre}} {{empleado.apellido}}</label>
        <div class="separator"></div>
        <label  ><i class=material-icons >date_range</i>Turnos: {{sinPagar ? turnos.length : totalCantidadTurnos}}</label>
        <div class="separator"></div>
        <label  ><i class=material-icons >payment</i>Total pago: {{sinPagar ? calcularTotalPagoEmpleado(turnos) : totalPago | currency}}</label>
        <div class="separator" ng-show="sinPagar"></div>
        <label class=banner-button  ng-click="pagarTodos()" ng-show="sinPagar" ><i class=material-icons >payment</i>Pagar todo</label>

    </div>
    <table  ng-cloak id=table class="main-table banner">
        <thead>
          <tr>
              <th>FECHA</th>
              <th>CLIENTE</th>
              <th>TRABAJOS</th>
              <th>PRECIO</th>
              <th>COMISI&Oacute;N</th>
              <th>PAGO</th>
              <th>COBRADO</th>
              <th>PAGADO</th>
          </tr>
        </thead>
        <tbody >
        <tr  class="data-row fade-in" ng-repeat="turno in turnos  track by turno.id">
          <td id={{turno.id}} data-id={{turno.id}}>{{turno.desde.split(' ')[0] | date}} - {{turno.desde.split(' ')[1]}} hs</td>
          <td data-id={{turno.id}} ><a class=link ng-href="/turnos/cliente/{{turno.cliente.id}}"> {{turno.cliente.nombre}} {{turno.cliente.apellido}}</a></td>
          <td data-id={{turno.id}} >{{turno.descripcionTrabajos}}</td>
          <td data-id={{turno.id}} >{{turno.montoCobro | currency}}</td>
          <td data-id={{turno.id}} >{{ (turno.montoPago *100) /turno.montoCobro | number:0 }}%</td>
          <td data-id={{turno.id}} >{{turno.montoPago | currency}}</td>
          <td data-id={{turno.id}} ><input ng-model="turno.cobrado"   ng-click="setCobrado(turno)" type="checkbox" ></td>
          <td data-id={{turno.id}} ><input ng-model="turno.pagado"    ng-click="setPagado(turno)"  type="checkbox"></td>
        </tr>
        </tbody>
    </table>
  </div>
  <div class=loading ><img widh=25 height=25 src="/imgs/loading.gif"></div>  
  <div class=ver-mas id=ver-mas  ng-cloak ng-hide = "(turnos.length >= totalCantidadTurnos) || sinPagar">
        <label  ng-click=verMas() > Ver m&aacute;s</label>
  </div>
     
  <#include "/html/turnos/cobrar.html">
  <#include "/html/turnos/deshacer-cobrado-pagado.html">
</div>

  <div  ng-if="turnos.length < 1 && loaded" ng-cloak class="message fade-in">
    <div class="message-content">{{emptyMessage}}</div>
  </div>

  
  <#include "/html/common/javascript.html">
  <script src="/js/empleadosController.js" ></script>
  <script src="/js/turnosController.js" ></script>
</body>
</html>