<!Doctype html>
<html>
<head>
	<title>Peluqueros</title>
  <#include "/html/common/head.html">
</head>
<body ng-app=figaro ng-controller=peluquerosController data-ng-init="init()" >
  <#include "/html/common/menu.html">
  <div id=content class="content fade-in">
     <div class=banner>
      <label class="banner-button add" ng-click="newPeluquero()"><i class="material-icons" >add content_cut</i> Nuevo</label>   
      
      <span class=banner-buttons-hidden>
      
        <div class="separator"></div> 
        <label class="banner-button add" ng-click="irSinPagar()" ><i class="material-icons" >payment</i> Pagar</label>   
      
        <div class="separator"></div>
        <label class="banner-button add" ng-click="irHistorial()" ><i class="material-icons" >history</i> Historial</label>   
      
      </span>  

    </div>
    
      <table class=main-table>
        <thead>
        <tr>
            <th></th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>TEL&Eacute;FONO</th>
            <th>EMAIL</th>
        </tr>
      </thead>
        <tbody>
          <tr data-id={{peluquero.id}} class=data-row ng-repeat="peluquero in peluqueros" ng-show="peluquero.habilitado"  ng-cloak>
            <td><input ng-model="peluquero.checked" ng-click="actualizarSeleccion($index, peluqueros)" type="checkbox" /></td>
            <td ng-click="detailPeluquero(peluquero.id)">{{peluquero.nombre}}</td>
            <td ng-click="detailPeluquero(peluquero.id)">{{peluquero.apellido}}</td>
            <td ng-click="detailPeluquero(peluquero.id)">{{peluquero.telefono}}</td>
            <td ng-click="detailPeluquero(peluquero.id)">{{peluquero.email}}</td>
          </tr>
        </tbody>
      </table>
      
  </div>
  <div class=loading><img widh=25 height=25 src="/imgs/loading.gif"></div>
  <#include "/html/peluqueros/peluqueros-modal.html">
  <#include "/html/common/javascript.html">
  <script src="js/peluquerosController.js" ></script>
</body>
</html>
