<!Doctype html>
<html>
<head>
	<title>Empleados</title>
  <#include "/common/head.html">
  <link rel="stylesheet" type="text/css" href="/css/empleados.css">
</head>
<body ng-app=figaro ng-controller=empleadosController data-ng-init="init()" >
  <#include "/common/menu.html">
  <div ng-cloak id=content class="content fade-in">     
     <div class=banner>
      <label class="banner-button add" ng-click="newEmpleado()"><i class="material-icons" >assignment_ind</i>Nuevo</label>
      <div class="separator"></div>
      <label class="banner-button add" ng-click="irEditar()"><i class="material-icons" >edit</i>Editar</label>
      <div class="separator"></div>
      <label class="banner-button add" ng-click="irTurnos()"><i class="material-icons" >date_range</i>Turnos</label>
      <div class="separator"></div>
      <label class="banner-button add" ng-click="irPagar()" ><i class="material-icons" >payment</i>Pagar</label>
    </div>

    <div ng-cloak title="Seleccionar" ng-class="{'card':true ,'empleado':true,'fade-in':true, 'empleado-selected':(empleadoSelected.id == empleado.id)}" ng-repeat="empleado in empleados" ng-click="actualizarSeleccion(empleado)">
       
        <i ng-attr-title="{{isDisponible(empleado) ? 'Empleado disponible' : 'Empleado no disponible'}}" ng-class="isDisponible(empleado) ? 'empleado-disponible' : 'empleado-indisponible'" >lens</i>        
        
        <label><i class=material-icons >assignment_ind</i> Empleado: {{empleado.nombre}} {{empleado.apellido}}</label><br>        
        <label><i class=material-icons >event</i> Ingreso: {{empleado.fechaIngreso | date}}</label><br> 
        <label><i class=material-icons >call</i> Tel&eacute;fono: {{empleado.telefono}}</label><br>  
        <label><i class=material-icons >mail_outline</i> Email: {{empleado.email}}</label><br>
    </div>
  
  </div>
  <div class=loading><div class="fa-3x"><i class="fas fa-circle-notch fa-spin"></i></div></div>
  <#include "/empleados/empleados-modal.html">
  <#include "/common/javascript.html">
  <script src="js/empleadosController.js" ></script>
</body>
</html>
