<!Doctype html>
<html>
<head> 
  <title>Notificaciones</title>
  <#include "/html/common/head.html">
  <link rel="stylesheet" type="text/css" href="/css/notificaciones.css">
</head>
<body  ng-app=figaro ng-controller=notificacionesController  data-ng-init="init()" >
  <#include "/html/common/menu.html">
  <div ng-cloak id=content class="content fade-in">
  
  <div ng-cloak ng-if="!notificacion.leida" ng-class="notificacion.leida ? 'leida' : ''" class="notificacion fade-in" ng-repeat="notificacion in notificaciones | orderBy:'notificacion.fecha'">
    
    <i class=material-icons>{{getIcon(notificacion)}}</i><label>{{notificacion.categoria}}</label>
    <label class=fecha>{{notificacion.fecha | date}}</label>
    <hr>
    
    <label>{{notificacion.detalle}}</label>
  </div>
 
  <div ng-cloak ng-if="notificacion.leida" ng-class="notificacion.leida ? 'leida' : ''" class="notificacion fade-in" ng-repeat="notificacion in notificaciones | orderBy:'notificacion.fecha'">
    
    <i class=material-icons>{{getIcon(notificacion)}}</i><label>{{notificacion.categoria}}</label>
    <label class=fecha>{{notificacion.fecha | date}}</label>
    <hr>
    
    <label>{{notificacion.detalle}}</label>
  </div>
 
  <div class=ver-mas id=ver-mas  ng-cloak ng-show = "(notificaciones.length < cantidadTotal)">
        <label  ng-click=verMas() > VER M&Aacute;S</label>
  </div>


<div ng-repeat="group in groups | filter:{value:true}">
    {{group.name}} {{group.value}}
</div>
<div ng-repeat="group in groups | filter:{value:false}">
    {{group.name}} {{group.value}}
</div>



  </div>

  <#include "/html/common/javascript.html">
  <#include "/html/common/confirm.html">
  <script src="/js/notificacionesController.js" ></script>
</body>
</html>