<div id=modal-caja-empleado class="modal fade-in">
    <div class=modal-content id=cp>
      <form>    
      

       <div class=form-field><label>DETALLE:</label> </div>

      <div class=banner ng-cloak>
        <label class=banner-label ><i class=material-icons >person</i> Cliente: {{ngMovimientoTurno.cliente.nombre}} {{ngMovimientoTurno.cliente.apellido}}</label>
       
      </div>

      <div class=banner ng-cloak>
        <label class=banner-label ><i class=material-icons >content_cut</i> Empleado: {{ngMovimientoTurno.empleado.nombre}} {{ngMovimientoTurno.empleado.apellido}}</label>
      </div>

      <div class=banner ng-cloak>        
        <label class=banner-label ><i class=material-icons >today</i> Horario: {{ngMovimientoTurno.desde}} - {{ngMovimientoTurno.hasta}}</label>
      </div>


       <table ng-cloak ng-if="movimientos.length > 0" id=table class=main-table>
      
    <thead>
      <tr>          
          <th>DETALLE</th>
          <th>MONTO</th>
          <th>PORCENTAJE</th>
          <th>COMISION</th>
      </tr>
    </thead>
    <tbody>
    
      <tr ng-cloak id={{movimiento.id}} data-id={{movimiento.id}} class=data-row ng-repeat="movimiento in ngMovimientoSetTrabajos">
    
        <td data-id={{movimiento.id}}>{{movimiento.servicio.descripcion}}</td>
        <td data-id={{movimiento.id}}>{{movimiento.servicio.precio}}</td>
        <td data-id={{movimiento.id}}>%{{movimiento.comision}}</td>
        <td data-id={{movimiento.id}}>{{calculaComisionEmpleado(movimiento)}}</td>
    
      </tr>
    </tbody>
  </table>

     <div class=banner ng-cloak>
      <label class=banner-label ><i class=material-icons >account_balance_wallet</i> Total: <font ng-cloak ng-class=green>{{ calculaTotalEmpleado() | currency }}</font></label>  
  
  </div>
       <div class=buttons>
          <button class="button accept" type="button" ng-click="discardMovimientoEmpleado()">ACEPTAR</button>
        </div>
  
      </form>
    </div>
</div>