<!Doctype html>
<html>
<head>
	<title>Empleados</title>
  <#include "/html/common/head.html">
</head>
<body ng-app=figaro ng-controller=empleadosController data-ng-init="init()" >
  <#include "/html/common/menu.html">
  <div id=content class="content fade-in">
     
     <div class=banner>
      <label class="banner-button add" ng-click="newEmpleado()"><i class="material-icons" >account_circle</i> Nuevo</label>         
    </div>

    <div class="card empleado" ng-repeat="empleado in empleados" ng-click="detailEmpleado(empleado.id)">
       
        <i ng-class="isDisponible(empleado) ? 'empleado-disponible' : 'empleado-indisponible'" >lens</i>

        <label><i class=material-icons >account_circle</i> Empleado: {{empleado.nombre}} {{empleado.apellido}}</label><br>
        
        <label><i class=material-icons >event</i> Ingreso: {{empleado.fechaIngreso | date}}</label><br>
        
        <label><i class=material-icons >call</i> Tel&eacute;fono: {{empleado.telefono}}</label><br>
        
        <label><i class=material-icons >mail_outline</i> Email: {{empleado.email}}</label><br>
        
        <label><a ng-href="/turnos/empleados/{{empleado.id}}"><i class="material-icons" >date_range</i> Ver turnos</a></label><br>
        
        <label><a ng-href="/turnos/empleados/{{empleado.id}}/sinpagar"><i class="material-icons" >payment</i> Pagar</a></label><br> 

    </div>
  
  </div>
  <div class=loading><img widh=25 height=25 src="/imgs/loading.gif"></div>
  <#include "/html/empleados/empleados-modal.html">
  <#include "/html/common/javascript.html">
  <script src="js/empleadosController.js" ></script>
</body>
</html>
